{{#each products}}
<article class="col4 col4Medium col4Small col4xSmall">
    <div class="productImage">
        <img src="{{this.image}}" alt="{{this.desc}}"/>
    </div>
    <div class="productDesc"><p>{{this.name}}</p></div>
</article>
{{/each}}